.navbar-default {
    background-color: darkgray;
    border-color: #000;
}

.navbar {
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

@media(min-width: 768px){
    .navbar-collapse.collapse {
        display: none!important;
    }
}

.navbar-default .navbar-toggle:hover {
    background-color: #aaa;
    border-color: #ddd;
}

.navbar-toggle:hover .icon-bar {
    background-color: #ddd;
}

#navbar-collapsed{
    background-color: #fff;
}

#navbar-collapsed ul{
    margin-bottom: 0;
    margin-top: 0;
}

#navbar-collapsed li{
    border: #000 1px solid;
}


.navbar-default .navbar-nav>li>a {
    color: #000;
}

main.container-fluid{
    padding: 0 50px;
}

article{
    height: 1000px;
    background-color: #aaa;
}